.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr
/out/
!**/src/main/**/out/
!**/src/test/**/out/


# ignore everything under `serverCode`
/serverCode/**

# allow Git to traverse these directories
!/serverCode/
!/serverCode/decompiled/
!/serverCode/decompiled/com
!/serverCode/decompiled/com/hypixel
!/serverCode/decompiled/com/hypixel/hytale
!/serverCode/decompiled/com/hypixel/hytale/**
!/serverCode/cfr.jar
!/serverCode/decompile.bat
!/serverCode/source.bat

run